<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="153" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="45" height="1440">&nbsp;</td>
        <td width="1010" height="1440" align="center" valign="top"><table width="1004" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            <td width="217" height="569" valign="top"><table width="217" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="216" align="center" valign="top" style="background:url({$P}images/nmgfl_r13_c10.jpg) repeat-x;"><table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                  <tr>
                    <td align="center" class="p14hong">双学双比</td>
                  </tr>
                </table>
                  <table width="190" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="60">&nbsp;</td>
                      <td width="130" align="left" valign="top"><table width="130" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="18" align="center">· </td>
                          <td width="182" align="left" class="p12hei">小额信贷</td>
                        </tr>
                      </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 1.</td>
                            <td width="182" align="left" class="p12hei">政策法规</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 2. </td>
                            <td width="182" align="left" class="p12hei">各地快讯</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 3. </td>
                            <td width="182" align="left" class="p12hei">典型案例</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center">· </td>
                            <td width="182" align="left" class="p12hei">公益项目</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 1.</td>
                            <td width="182" align="left" class="p12hei">母亲水窖</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 2. </td>
                            <td width="182" align="left" class="p12hei">三八绿色工程</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 3. </td>
                            <td width="182" align="left" class="p12hei">扶贫助困</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 4. </td>
                            <td width="182" align="left" class="p12hei">扶贫助困</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 5. </td>
                            <td width="182" align="left" class="p12hei">母亲邮包</td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  <table width="217" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="center" class="p14hong">巾帼建功</td>
                    </tr>
                </table>
                  <table width="190" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="58">&nbsp;</td>
                      <td width="132" align="left" valign="top"><table width="130" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="18" align="center">· </td>
                          <td width="182" align="left" class="p12hei">创业就业</td>
                        </tr>
                      </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 1.</td>
                            <td width="182" align="left" class="p12hei">巾帼创业园</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 2. </td>
                            <td width="182" align="left" class="p12hei">就业培训动态</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 3. </td>
                            <td width="182" align="left" class="p12hei">女性创业之星</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 4. </td>
                            <td width="182" align="left" class="p12hei">妇女手工编织</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center">· </td>
                            <td width="182" align="left" class="p12hei">家政服务</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 1.</td>
                            <td width="182" align="left" class="p12hei">政策法规</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 2. </td>
                            <td width="182" align="left" class="p12hei">家政培训</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 3. </td>
                            <td width="182" align="left" class="p12hei">会员单位展示</td>
                          </tr>
                        </table>
                        <table width="130" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" class="p12hei"> 4. </td>
                            <td width="182" align="left" class="p12hei">家政小常识</td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td height="20"><img src="{$P}images/nmgfl_r15_c3.jpg" width="217" height="48" /></td>
              </tr>
              </table>
              <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><img src="{$P}images/nmgfl_r17_c3.jpg" width="217" height="388" /></td>
                </tr>
              </table></td>
            <td align="right" valign="top"><table width="776" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="{$P}images/fnfz_r4_c3.jpg" width="776" height="30" /></td>
              </tr>
              <tr>
                <td height="195" align="center" valign="top" style="background:url({$P}images/fnfz_r6_c3.jpg) repeat-y;"><table width="730" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="725" align="left" class="p14cuohuong">【双学双比】</td>
                  </tr>
                </table>
                  <table width="730" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="206"><table width="190" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="190"><img src="{$P}images/fnfz_r2_c21.jpg" width="191" height="166" /></td>
                      </tr>
                    </table></td>
                    <td width="524" align="left" valign="top">

{pc:content  action="lists" catid="63" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                      <table width="524" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="25" align="center" class="p12hei">·</td>
                        <td width="499" align="left" class="p12hei2">
                          <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 100)}</a>
                        </td>
                      </tr>
                    </table>
{/loop}
{/pc}                      </td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><img src="{$P}images/fnfz_r8_c3.jpg" width="776" height="31" /></td>
              </tr>
            </table>
              <table width="776" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><img src="{$P}images/fnfz_r4_c3.jpg" width="776" height="30" /></td>
                </tr>
                <tr>
                  <td height="151" align="center" valign="top" style="background:url({$P}images/fnfz_r6_c3.jpg) repeat-y;"><table width="753" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="34">&nbsp;</td>
                      <td width="238" height="24" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">政策法规</td>
                      <td width="240" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">各地快讯</td>
                      <td width="241" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">典型案例</td>
                      </tr>
                  </table>
                    <table width="753" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="32" height="119" align="center"><img src="{$P}images/fnvz_r4_c3.jpg" width="13" height="88" /></td>
                      <td width="220" align="left" style="border-right:1px #F9C solid;">

{pc:content  action="lists" catid="67" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}

                        </td>
                      <td width="220" align="left"  style="border-right:1px #F9C solid;">

{pc:content  action="lists" catid="68" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}
                       
                       </td>
                      <td width="220" align="left">

{pc:content  action="lists" catid="69" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}

                      </td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><img src="{$P}images/fnfz_r8_c3.jpg" width="776" height="31" /></td>
                </tr>
              </table>
              <table width="776" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><img src="{$P}images/fnfz_r4_c3.jpg" width="776" height="30" /></td>
                </tr>
                <tr>
                  <td height="300" align="center" valign="top" style="background:url({$P}images/fnfz_r6_c3.jpg) repeat-y;"><table width="753" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="34">&nbsp;</td>
                      <td width="238" height="24" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">母亲水窖</td>
                      <td width="240" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">三八绿色工程</td>
                      <td width="241" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">水印计划</td>
                    </tr>
                  </table>
                    <table width="753" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="32" height="138" align="center"><img src="{$P}images/fnfz_r8_c311.jpg" width="13" height="86" /></td>
                        <td width="220" align="left" style="border-right:1px #F9C solid;">

{pc:content  action="lists" catid="70" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}


                        </td>
                        <td width="220" align="left"  style="border-right:1px #F9C solid;">


 {pc:content  action="lists" catid="71" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}


                        </td>
                        <td width="220" align="left">

 {pc:content  action="lists" catid="72" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}

                        </td>
                      </tr>
                    </table>
                    <table width="753" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="34">&nbsp;</td>
                        <td width="238" height="24" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">母亲邮包</td>
                        <td width="240" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">扶贫助困</td>
                        <td width="241" align="center" class="p12bai">&nbsp;</td>
                      </tr>
                    </table>
                    <table width="753" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="34" height="138" align="center">&nbsp;</td>
                        <td width="240" align="left" style="border-right:1px #F9C solid;">

 {pc:content  action="lists" catid="74" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}

                        </td>
                        <td width="240" align="left"  style="border-right:1px #F9C solid;">

 {pc:content  action="lists" catid="73" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}

                        </td>
                        <td width="239" align="center"><img src="{$P}images/fnfz_r10_c7.jpg" width="226" height="145" /></td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td><img src="{$P}images/fnfz_r8_c3.jpg" width="776" height="31" /></td>
                </tr>
              </table>
              <table width="776" border="0" cellspacing="0" cellpadding="0" style="margin-top:15px;">
                <tr>
                  <td><img src="{$P}images/fnfz_r12_c2.jpg" width="769" height="75" /></td>
                </tr>
              </table></td>
            </tr>
        </table>
          <table width="1004" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
            <tr>
              <td width="776"><table width="776" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><img src="{$P}images/fnfz_r4_c3.jpg" width="776" height="30" /></td>
                </tr>
                <tr>
                  <td height="165" align="center" valign="top" style="background:url({$P}images/fnfz_r6_c3.jpg) repeat-y;"><table width="730" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="725" align="left" class="p14cuohuong">【巾帼建功】</td>
                    </tr>
                  </table>
                    <table width="730" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="155"><table width="136" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="136"><img src="{$P}images/fnvz_r14_c2.jpg" width="137" height="120" /></td>
                          </tr>
                        </table></td>
                        <td width="575" align="left" valign="top">
{pc:content  action="lists" catid="80" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                          <table width="550" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="25" align="center" class="p12hei">·</td>
                            <td width="499" align="left" class="p12hei2"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 66)}</a></td>
                          </tr>
                        </table>
{/loop}
{/pc}                        
                         </td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td><img src="{$P}images/fnfz_r8_c3.jpg" width="776" height="31" /></td>
                </tr>
              </table></td>
              <td width="228" align="right" valign="top"><table width="219" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><img src="{$P}images/fnfz_r14_c11.jpg" width="219" height="43" /></td>
                </tr>
                <tr>
                  <td height="159" style="background:url({$P}images/fnfz_r18_c11.jpg) repeat-y;">&nbsp;</td>
                </tr>
                <tr>
                  <td><img src="{$P}images/fnfz_r17_c11.jpg" width="219" height="22" /></td>
                </tr>
              </table></td>
            </tr>
          </table>
          <table width="776" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
            <tr>
              <td><img src="{$P}images/fnfz_r22_c2.jpg" width="1001" height="32" /></td>
            </tr>
            <tr>
              <td height="300" align="center" valign="top" style="background:url({$P}images/fnfz_r24_c22.jpg) repeat-y;"><table width="1000" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="34">&nbsp;</td>
                  <td width="238" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">巾帼创业园</td>
                  <td width="238" height="24" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">就业培训动态</td>
                  <td width="240" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">女性创业之星</td>
                  <td width="241" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">妇女手工编织</td>
                </tr>
              </table>
                <table width="1000" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="37" height="138" align="center"><img src="{$P}images/fnfz_r02_c2.jpg" width="12" height="88" /></td>
                    <td width="321" align="left" style="border-right:1px #F9C solid;">

{pc:content  action="lists" catid="77" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}

                    </td>
                    <td width="321" align="left" style="border-right:1px #F9C solid;">

{pc:content  action="lists" catid="78" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}

                    </td>
                    <td width="319" align="left"  style="border-right:1px #F9C solid;">

{pc:content  action="lists" catid="79" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}

                    </td>
                    <td width="323" align="left">

{pc:content  action="lists" catid="80" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}

                    </td>
                  </tr>
                </table>
                <table width="1000" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="34">&nbsp;</td>
                    <td width="238" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">政策法规</td>
                    <td width="238" height="24" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">会员单位展示</td>
                    <td width="240" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">家政培训</td>
                    <td width="241" align="center" class="p12bai" style="background:url({$P}images/fnfz_r4_c5.jpg) no-repeat center;">家政小常识</td>
                  </tr>
                </table>
                <table width="1000" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="37" height="138" align="center"><img src="{$P}images/fnfz_r04_c2.jpg" width="12" height="86" /></td>
                    <td width="321" align="left" style="border-right:1px #F9C solid;">

{pc:content  action="lists" catid="81" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}

                    </td>
                    <td width="321" align="left" style="border-right:1px #F9C solid;">

{pc:content  action="lists" catid="83" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}

                    </td>
                    <td width="319" align="left"  style="border-right:1px #F9C solid;">
{pc:content  action="lists" catid="82" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}
                    </td>
                    <td width="323" align="left">
{pc:content  action="lists" catid="84" thumb="0" order="listorder DESC" num="4"}
{loop $data $v}
                      <table width="220" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title], 44)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}
                    </td>
                  </tr>
                </table></td>
            </tr>
            <tr>
              <td><img src="{$P}images/fnfz_r24_c2.jpg" width="1001" height="31" /></td>
            </tr>
          </table></td>
        <td width="37">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
