<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="116" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" height="116">&nbsp;</td>
        <td width="1013" height="116" align="center" valign="top"><table width="1000" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
          <tr>
            <td width="1000"><img src="{$P}images/nmgfl_r25_c3.jpg" width="1001" height="27" /></td>
          </tr>
          <tr>
            <td height="89" align="right" style="background:url({$P}images/nmgfl_r26_c10.jpg) repeat-x;"><table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="828" height="89" align="center" class="p12xibai">蒙ICP备 06006126号 版权所有：内蒙古自治区妇女联合会<br />
                  copyright@2008inner mongolia women's federation all rights reserved<br />
                  您是本站第　　  访问者</td>
                <td width="172" valign="bottom"><img src="{$P}images/nmgfl_r27_c23.jpg" width="170" height="60" /></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="36">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>


<!--

<div class="footer">
<p class="info">
{pc:content action="category" catid="1" num="15" siteid="$siteid" order="listorder ASC"}
{loop $data $r}
<a href="{$r[url]}" target="_blank">{$r[catname]}</a> |  
{/loop}
{/pc}
<a href="{APP_PATH}index.php?m=link" target="_blank">友情链接</a>
<br />
Powered by <strong><a href="http://www.phpcms.cn" target="_blank">PHPCMS</a></strong> <em>{get_pc_version(1)}</em> &copy; 2011 <img src="{IMG_PATH}copyright.gif"/>{tjcode()}{php echo runhook('glogal_footer')}
</p>
</div>
<script type="text/javascript">
$(function(){
	$(".picbig").each(function(i){
		var cur = $(this).find('.img-wrap').eq(0);
		var w = cur.width();
		var h = cur.height();
	   $(this).find('.img-wrap img').LoadImage(true, w, h,'{IMG_PATH}msg_img/loading.gif');
	});
})
</script>
</body>
</html>

-->