<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="153" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" height="355">&nbsp;</td>
        <td width="1013" height="355" align="center" valign="top"><table width="1004" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            <td width="217" height="569" valign="top"><table width="217" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="288" align="center" valign="top" style="background:url({$P}images/tthy_r2_c2.jpg) repeat-x;"><table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                  <tr>
                    <td align="center" class="p14hong">团体会员</td>
                  </tr>
                </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="18" align="center">· </td>
                      <td width="182" align="left" class="p12hei">内蒙古女企业家协会</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="18" align="center">· </td>
                      <td width="182" align="left" class="p12hei">内蒙古女检查官协会</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="18" align="center">· </td>
                      <td width="182" align="left" class="p12hei">内蒙古女法官协会</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="18" align="center">· </td>
                      <td width="182" align="left" class="p12hei">内蒙古妇女儿童研究会</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="18" align="center">· </td>
                      <td width="182" align="left" class="p12hei">内蒙古家政服务协会</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="18" align="center">· </td>
                      <td width="182" align="left" class="p12hei">内蒙古工会女工委</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="18" align="center">· </td>
                      <td width="182" align="left" class="p12hei">内蒙古幼教协会</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="18" align="center">· </td>
                      <td width="182" align="left" class="p12hei">内蒙古小记者协会</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="18" align="center">· </td>
                      <td width="182" align="left" class="p12hei">草原母亲河艺术团</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="18" align="center">· </td>
                      <td width="182" align="left" class="p12hei">内蒙古女子书画院</td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td height="20"><img src="{$P}images/nmgfl_r15_c3.jpg" width="217" height="48" /></td>
              </tr>
              </table>
              <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><img src="{$P}images/nmgfl_r17_c3.jpg" width="217" height="388" /></td>
                </tr>
              </table></td>
            <td align="right" valign="top"><table width="767" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="28" align="left" class="p12bai" style="background:url({$P}images/tthy_r2_c4.jpg) no-repeat;">　　　　内蒙古企业家协会</td>
              </tr>
            </table>
              <table width="767" border="0" cellspacing="0" cellpadding="0" style="border:1px #FFCB66 solid;">
                <tr>
                  <td width="541" height="832" align="left" valign="top">&nbsp;</td>
                  <td width="10" style="background:url({$P}images/tthy_r6_c5.jpg) repeat-y center;">&nbsp;</td>
                  <td width="218" align="left" valign="top"><table width="200" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                    <tr>
                      <td><img src="{$P}images/nmgfl_r14_c19.jpg" width="207" height="167" /></td>
                    </tr>
                  </table>
                    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                      <tr>
                        <td><img src="{$P}images/tthy_r5_c5.jpg" width="183" height="167" /></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
            </tr>
        </table></td>
        <td width="36">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
