
<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="153" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" height="684">&nbsp;</td>
        <td width="1013" height="684" align="center" valign="top"><table width="980" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            <td width="253" height="569" valign="top"><table width="216" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="216" height="824" align="center" valign="top" style="background:url({$P}images/wsjzxx_r8_c6.jpg) repeat-x;"><table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                  <tr>
                    <td align="center" class="p14hong">组织机构</td>
                  </tr>
                </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">家长学校指导小组成员名单</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">组 长</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">陈 羽</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">内蒙古妇联主席</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">副组长</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">云翠荣<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">内蒙古妇联副主席</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">敖特根其木格</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">内蒙古妇联副巡视员<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                    <tr>
                      <td align="left" class="p12hei">成  员</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">李凤兰<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">内蒙古妇联儿童部调研员<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">李素珍</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">内蒙古儿童基金会秘书长</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">毛国平</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">内蒙古妇女儿童中心主任<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">邬小平<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">内蒙古妇女儿童研究会副会长<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">毕军梅</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">内蒙古妇女儿童研究会副秘书长<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">邢丽娅</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei">内蒙古师范大学教科院教授</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei"><p>内蒙古妇女儿童研究会常务理事<br />
                      </p></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12hei"><p>张锦贻</p></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="p12hei"><p>内蒙古妇女儿童研究会常务理事
                        <br />
                      </p></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="144">&nbsp;</td>
                    </tr>
                    <tr>
                      <td align="left" class="p12hei2">联系方式：</td>
                    </tr>
                    <tr>
                      <td align="left" class="p12hei2">0471-6930856</td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td height="20"><img src="{$P}images/wsjzxx_r10_c2.jpg" width="213" height="48" /></td>
              </tr>
              </table></td>
            <td width="751" align="right" valign="top"><table width="752" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="325" align="center" valign="middle"><img src="{$P}images/wsjzxx_r8_cw8.jpg" width="313" height="206" /></td>
                <td width="427" valign="top"><table width="427" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td style="background:url({$P}images/wsjzxx_r8_c10.jpg) no-repeat;" height="30"><table width="427" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="27">&nbsp;</td>
                        <td width="354" align="left" class="p12bai">工作动态</td>
                        <td width="46" align="left" class="p12xibai">更多&gt;&gt;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="175" align="center" valign="middle"><table width="417" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="162" align="left" valign="top">
{pc:content  action="lists" catid="36" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                          <table width="417" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="25" align="center" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/wsjzxx_r11_c11.jpg" width="9" height="9" /></td>
                            <td width="392" align="left" class="p12hei2"  style="border-bottom:1px #CCC dashed;"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                          </tr>
                          </table>
{/loop}
{/pc}                          
                         </td>
                        </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
            </table>
              <table width="745" height="215" border="0" cellpadding="0" cellspacing="0" style="margin-top:10px;">
                <tr>
                  <td height="215" align="left" valign="top"><table width="372" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="29" style="background:url({$P}images/wsjzxx.jpg) no-repeat;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="27">&nbsp;</td>
                          <td width="354" align="left" class="p12bai">成长足迹</td>
                          <td width="46" align="left" class="p12xibai">更多&gt;&gt;</td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td>
{pc:content  action="lists" catid="37" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                        <table width="372" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/wsjzxx_r11_c11.jpg" width="9" height="9" /></td>
                          <td width="349" align="left" class="p12hei2"  style="border-bottom:1px #CCC dashed;"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                        </tr>
                      </table>
{/loop}
{/pc}                      
                        </td>
                    </tr>
                  </table>
                    <table width="372" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                      <tr>
                        <td height="7"><img src="{$P}images/wsjzxx_r16_c9.jpg" width="372" height="7" /></td>
                      </tr>
                    </table></td>
                  <td align="right" valign="top"><table width="372" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="29" style="background:url({$P}images/wsjzxx.jpg) no-repeat;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="27">&nbsp;</td>
                          <td width="354" align="left" class="p12bai">家教指南</td>
                          <td width="46" align="left" class="p12xibai">更多&gt;&gt;</td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td>
{pc:content  action="lists" catid="38" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                        <table width="372" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/wsjzxx_r11_c11.jpg" width="9" height="9" /></td>
                          <td width="349" align="left" class="p12hei2"  style="border-bottom:1px #CCC dashed;"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                        </tr>
                      </table>
{/loop}
{/pc}                            

                       </td>
                    </tr>
                  </table>
                    <table width="372" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                      <tr>
                        <td height="7"><img src="{$P}images/wsjzxx_r16_c9.jpg" width="372" height="7" /></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <table width="745" height="215" border="0" cellpadding="0" cellspacing="0" style="margin-top:10px;">
                <tr>
                  <td height="215" align="left" valign="top"><table width="372" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="29" style="background:url({$P}images/wsjzxx.jpg) no-repeat;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="27">&nbsp;</td>
                          <td width="354" align="left" class="p12bai">热点话题</td>
                          <td width="46" align="left" class="p12xibai">更多&gt;&gt;</td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td>
{pc:content  action="lists" catid="39" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                        <table width="372" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/wsjzxx_r11_c11.jpg" width="9" height="9" /></td>
                          <td width="349" align="left" class="p12hei2"  style="border-bottom:1px #CCC dashed;"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                        </tr>
                      </table>
{/loop}
{/pc}    
                      </td>
                    </tr>
                  </table>
                    <table width="372" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                      <tr>
                        <td height="7"><img src="{$P}images/wsjzxx_r16_c9.jpg" width="372" height="7" /></td>
                      </tr>
                    </table></td>
                  <td align="right" valign="top"><table width="372" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="29" style="background:url({$P}images/wsjzxx.jpg) no-repeat;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="27">&nbsp;</td>
                          <td width="354" align="left" class="p12bai">卫生保健</td>
                          <td width="46" align="left" class="p12xibai">更多&gt;&gt;</td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td>
{pc:content  action="lists" catid="40" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                        <table width="372" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/wsjzxx_r11_c11.jpg" width="9" height="9" /></td>
                          <td width="349" align="left" class="p12hei2"  style="border-bottom:1px #CCC dashed;"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                        </tr>
                      </table>
{/loop}
{/pc}                            
                       </td>
                    </tr>
                  </table>
                    <table width="372" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                      <tr>
                        <td height="7"><img src="{$P}images/wsjzxx_r16_c9.jpg" width="372" height="7" /></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <table width="745" height="215" border="0" cellpadding="0" cellspacing="0" style="margin-top:10px;">
                <tr>
                  <td height="215" align="left" valign="top"><table width="372" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="29" style="background:url({$P}images/wsjzxx.jpg) no-repeat;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="27">&nbsp;</td>
                          <td width="354" align="left" class="p12bai">专家讲坛</td>
                          <td width="46" align="left" class="p12xibai">更多&gt;&gt;</td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td>
{pc:content  action="lists" catid="41" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                        <table width="372" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/wsjzxx_r11_c11.jpg" width="9" height="9" /></td>
                          <td width="349" align="left" class="p12hei2"  style="border-bottom:1px #CCC dashed;"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                        </tr>
                      </table>
{/loop}
{/pc}                          
                       </td>
                    </tr>
                  </table>
                    <table width="372" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                      <tr>
                        <td height="7"><img src="{$P}images/wsjzxx_r16_c9.jpg" width="372" height="7" /></td>
                      </tr>
                    </table></td>
                  <td align="right" valign="top"><table width="372" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="29" style="background:url({$P}images/wsjzxx.jpg) no-repeat;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="27">&nbsp;</td>
                          <td width="354" align="left" class="p12bai">图片库</td>
                          <td width="46" align="left" class="p12xibai">更多&gt;&gt;</td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td height="174"><table width="372" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                        <tr>
                          <td height="156" align="center" valign="middle"><img src="{$P}images/wsjzxx_r18_c15.jpg" width="179" height="149" /></td>
                          <td align="center" valign="middle"><img src="{$P}images/wsjzxx_r18_c15.jpg" width="179" height="149" /></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table>
                    <table width="372" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                      <tr>
                        <td height="7"><img src="{$P}images/wsjzxx_r16_c9.jpg" width="372" height="7" /></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
            </tr>
        </table></td>
        <td width="36">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
