<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="600" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" height="600">&nbsp;</td>
        <td width="1013" height="600" align="center" valign="top"><table width="1002" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            <td width="217" height="614" valign="top"><table width="217" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="165" align="center" valign="top" style="background:url({$P}images/zw_r2_c2.jpg) repeat-x;">

{loop subcat(14) $v}
                  <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                  <tr>
                    <td align="center" class="p14cuohuong"><a href="{$v[url]}" class="p14cuohuong">{$v[catname]}</a></td>
                  </tr>
                  </table>
{/loop}  



                </td>
              </tr>
              <tr>
                <td height="20"><img src="{$P}images/xcjy_r3_c2.jpg" width="215" height="50" /></td>
              </tr>
              </table>
              <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><img src="{$P}images/nmgfl_r17_c3.jpg" width="217" height="388" /></td>
                </tr>
              </table></td>
            <td align="right" valign="top"><table width="770" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="770" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="210" height="31" align="center" class="p12bai" style="background:url({$P}images/zw_r2_c4.jpg) no-repeat;">领导讲话</td>
                    <td style="background:url({$P}images/zw_r2_c5.jpg) no-repeat;">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="160" align="center" style="border-right:1px #D0EAF7 solid; border-left:1px #D0EAF7 solid;"><table width="730" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                  <tr>
                      <td width="206"><table width="190" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="190"><img src="{$P}images/fnfz_r2_c21.jpg" width="191" height="166" /></td>
                        </tr>
                      </table></td>
                      <td width="524" align="left" valign="top">
{pc:content  action="lists" catid="43" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                        <table width="524" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" class="p12hei">·</td>
                          <td width="499" align="left" class="p12hei2"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                        </tr>
                      </table>
{/loop}
{/pc}                      
                       </td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td><img src="{$P}images/zw_r4_c4.jpg" width="769" height="53" /></td>
              </tr>
            </table>
              <table width="770" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><table width="380" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                     <td width="210" height="31" align="center" class="p12bai" style="background:url({$P}images/zw_r2_c4.jpg) no-repeat;">内妇发</td>
                      <td style="background:url({$P}images/zw_r7_c5.jpg) no-repeat;">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="177" colspan="2" align="center" style="border:1px #D0EAF7 solid;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="168" align="left" valign="top">
{pc:content  action="lists" catid="44" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                            <table width="360" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="25" align="center" class="p12hei">·</td>
                              <td width="499" align="left" class="p12hei2"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                            </tr>
                          </table>
{/loop}
{/pc}                          
                           </td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                  <td align="right" valign="top"><table width="380" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="210" height="31" align="center" class="p12bai" style="background:url({$P}images/zw_r2_c4.jpg) no-repeat;">内妇办发</td>
                      <td style="background:url({$P}images/zw_r7_c5.jpg) no-repeat;">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="177" colspan="2" align="center" style="border:1px #D0EAF7 solid;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="168" align="left" valign="top">
{pc:content  action="lists" catid="45" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                            <table width="360" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="25" align="center" class="p12hei">·</td>
                              <td width="499" align="left" class="p12hei2"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                            </tr>
                          </table>
{/loop}
{/pc}                               
                          </td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                </tr>
              </table>
              <table width="770" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><table width="380" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="210" height="31" align="center" class="p12bai" style="background:url({$P}images/zw_r2_c4.jpg) no-repeat;">妇代会</td>
                      <td style="background:url({$P}images/zw_r7_c5.jpg) no-repeat;">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="177" colspan="2" align="center" style="border:1px #D0EAF7 solid;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="168" align="left" valign="top">
                           {pc:content  action="lists" catid="46" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                            <table width="360" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="25" align="center" class="p12hei">·</td>
                              <td width="499" align="left" class="p12hei2"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                            </tr>
                          </table>
{/loop}
{/pc}   </td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                  <td align="right" valign="top"><table width="380" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="210" height="31" align="center" class="p12bai" style="background:url({$P}images/zw_r2_c4.jpg) no-repeat;">执委会</td>
                      <td style="background:url({$P}images/zw_r7_c5.jpg) no-repeat;">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="177" colspan="2" align="center" style="border:1px #D0EAF7 solid;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="168" align="left" valign="top">
{pc:content  action="lists" catid="47" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                            <table width="360" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="25" align="center" class="p12hei">·</td>
                              <td width="499" align="left" class="p12hei2"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                            </tr>
                          </table>
{/loop}
{/pc}                               
                           </td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
        </table></td>
        <td width="36">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
