
<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="153" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" height="684">&nbsp;</td>
        <td width="1013" height="684" align="center" valign="top"><table width="1004" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            <td width="217" height="569" valign="top"><table width="217" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="127" align="center" valign="top" style="background:url({$P}images/zzjs_r4_c3.jpg) repeat-x;">
<table width="217" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="217" height="10"></td>
                  </tr>
                </table>
                  <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                  <tr>
                    <td align="center" class="p12rl">&nbsp;</td>
                  </tr>
                </table>                
                  <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                  <tr>
                    <td align="center" class="p12rl"><a href="{$CATEGORYS[57][url]}" class="p12rl">组织建设</a></td>
                  </tr>
                </table>
                  <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                    <tr>
                      <td align="center" class="p12rl"><a href="{$CATEGORYS[58][url]}" class="p12rl">妇女之家</a></td>
                    </tr>
                  </table>
                  <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                    <tr>
                      <td align="center" class="p12rl"><a href="{$CATEGORYS[59][url]}" class="p12rl">女干部队伍</a></td>
                    </tr>
                  </table>

                </td>
              </tr>
              <tr>
                <td height="20"><img src="{$P}images/zzjs_r5_c2.jpg" width="215" height="50" /></td>
              </tr>
              </table>
              <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><img src="{$P}images/nmgfl_r17_c3.jpg" width="217" height="388" /></td>
                </tr>
              </table></td>
            <td align="right" valign="top"><table width="768" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="26" style="background:url({$P}images/zzjs_r4_c6.jpg) no-repeat;"><table width="768" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="43">&nbsp;</td>
                    <td width="350" align="left" class="p14cuohuong">组织建设</td>
                    <td width="364" align="right" class="p12hei">更多</td>
                    <td width="11" align="left">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="192" align="center" valign="middle" style="background:url({$P}images/zzjs_r9_c16.jpg) repeat-y;" ><table width="758" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                  <tr>
                    <td width="212" align="center" valign="middle"><table width="195" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="{$P}images/lgss_r6_c7.jpg" width="195" height="170" /></td>
                      </tr>
                    </table></td>
                    <td width="546" align="left" valign="top">
{pc:content  action="lists" catid="57" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                      <table width="539" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="26" align="center" valign="middle" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/lgss_r6_c9.jpg" width="10" height="10" /></td>
                        <td width="513" align="left" class="p12hei2" style="border-bottom:1px #CCC dashed;">
                          <a href="{$v[url]}" class="p12hei2">{str_cut($v[title],66)}</a>
                        </td>
                      </tr>
                    </table>
{/loop}
{/pc}                    
                     </td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="9" align="center" valign="middle"><img src="{$P}images/zzjs_r9_c6.jpg" width="769" height="9" /></td>
              </tr>
            </table>
              <table width="768" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td height="26" style="background:url({$P}images/zzjs_r4_c6.jpg) no-repeat;"><table width="768" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="43">&nbsp;</td>
                      <td width="350" align="left" class="p14cuohuong">妇女之家</td>
                      <td width="364" align="right" class="p12hei">更多</td>
                      <td width="11" align="left">&nbsp;</td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="192" align="center" valign="middle" style="background:url({$P}images/zzjs_r9_c16.jpg) repeat-y;" ><table width="758" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                    <tr>
                      <td width="212" align="center" valign="middle"><table width="195" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><img src="{$P}images/zzjs1.jpg" width="195" height="170" /></td>
                        </tr>
                      </table></td>
                      <td width="546" align="left" valign="top">

{pc:content  action="lists" catid="58" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                      <table width="539" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="26" align="center" valign="middle" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/lgss_r6_c9.jpg" width="10" height="10" /></td>
                        <td width="513" align="left" class="p12hei2" style="border-bottom:1px #CCC dashed;">
                          <a href="{$v[url]}" class="p12hei2">{str_cut($v[title],66)}</a>
                        </td>
                      </tr>
                    </table>
{/loop}
{/pc}   
                       </td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="9" align="center" valign="middle"><img src="{$P}images/zzjs_r9_c6.jpg" width="769" height="9" /></td>
                </tr>
              </table>
              <table width="768" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td height="26" style="background:url({$P}images/zzjs_r4_c6.jpg) no-repeat;"><table width="768" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="43">&nbsp;</td>
                      <td width="350" align="left" class="p14cuohuong">女干部队伍</td>
                      <td width="364" align="right" class="p12hei">更多</td>
                      <td width="11" align="left">&nbsp;</td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="192" align="center" valign="middle" style="background:url({$P}images/zzjs_r9_c16.jpg) repeat-y;" ><table width="758" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                    <tr>
                      <td width="212" align="center" valign="middle">
                        <table width="195" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><img src="{$P}images/zzjs2.jpg" width="195" height="170" /></td>
                        </tr>
                      </table></td>
                      <td width="546" align="left" valign="top">

{pc:content  action="lists" catid="59" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                      <table width="539" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="26" align="center" valign="middle" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/lgss_r6_c9.jpg" width="10" height="10" /></td>
                        <td width="513" align="left" class="p12hei2" style="border-bottom:1px #CCC dashed;">
                          <a href="{$v[url]}" class="p12hei2">{str_cut($v[title],66)}</a>
                        </td>
                      </tr>
                    </table>
{/loop}
{/pc}   

                      </td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="9" align="center" valign="middle"><img src="{$P}images/zzjs_r9_c6.jpg" width="769" height="9" /></td>
                </tr>
              </table></td>
            </tr>
        </table></td>
        <td width="36">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
