<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="153" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="45" height="987">&nbsp;</td>
        <td width="1010" height="987" align="center" valign="top"><table width="1004" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            <td height="569" align="right" valign="top"><table width="1005" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="background:url({$P}images/jg_r2_c02.jpg) no-repeat;" height="39">&nbsp;</td>
              </tr>
            </table>
              <table width="776" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="{$P}images/jg_r03_c2.jpg" width="1005" height="41" /></td>
                </tr>
              <tr>
                <td height="913" align="center" valign="top" style="background:url({$P}images/jg_r5_c2.jpg) repeat-y;"><table width="948" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="44" align="center" bgcolor="#dddddd" class="p18hei" style="border-bottom:1px #CCC dashed;">{$title}</td>
                  </tr>
                </table>
                  <table width="948" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="right" class="p12hei2" style="border-bottom:1px #999 dashed;">发布时间：{$inputtime}　　浏览次数：102次的　【返回】</td>
                    </tr>
                  </table>
                  <table width="948" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="948" height="821" align="left" valign="top" class="p12hei2">{$content}</td>
                    </tr>
                  </table></td>
                </tr>
              <tr>
                <td><img src="{$P}images/jg_r7_c2.jpg" width="1005" height="47" /></td>
                </tr>
            </table></td>
            </tr>
        </table></td>
        <td width="37">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
