<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="153" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" height="355">&nbsp;</td>
        <td width="1013" height="355" align="center" valign="top"><table width="1004" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            <td width="217" height="569" valign="top"><table width="217" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="390" align="center" valign="top" style="background:url({$P}images/nmgfl_r13_c10.jpg) repeat-x;">

                  <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                  <tr>
                    <td align="center" class="p14hong">内蒙古妇联</td>
                  </tr>
                </table>

                {pc:content  action="lists" catid="1" thumb="0" order="listorder asc" num="100"}
                {loop $data $v}
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="18" align="center">· </td>
                      <td width="182" align="left" class="p12hei">
                        
                        <a href="{$v[url]}" class="p12hei">
                          {$v[title]}
                        </a>
                      </td>
                    </tr>
                  </table>
                {/loop}
                {/pc}

                  </td>
              </tr>
              <tr>
                <td height="20"><img src="{$P}images/nmgfl_r15_c3.jpg" width="217" height="48" /></td>
              </tr>
              </table>
              <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><img src="{$P}images/nmgfl_r17_c3.jpg" width="217" height="388" /></td>
                </tr>
              </table></td>
            <td align="right" valign="top"><table width="767" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="28" align="left" class="p18hei" style="background:url({$P}images/nmgfl_r13_c15.jpg) no-repeat;">　{$title}</td>
              </tr>
            </table>
              <table width="767" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="541" height="832" align="left" valign="top" style="font-size:12px;line-height:22px;">&nbsp;
                    {$content}
                  </td>
                  <td width="10" style="background:url({$P}images/nmgfl_r15_c17.jpg) repeat-y center;">&nbsp;</td>
                  <td width="218" align="left" valign="top"><table width="200" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                    <tr>
                      <td><img src="{$P}images/nmgfl_r14_c19.jpg" width="207" height="167" /></td>
                    </tr>
                  </table>
                    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                      <tr>
                        <td><img src="{$P}images/fls.jpg" width="183" height="167" />
                    </td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
            </tr>
        </table></td>
        <td width="36">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>