<table width="977" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><table width="977" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left" bgcolor="#F5F5F5" class="p12hong"  style="border-bottom:1px #E6E6E6 solid;">　　上一篇：<span class="p12hong" style="border-bottom:1px #E6E6E6 solid;">
                            <a href="{$previous_page[url]}" class="p12hong">{$previous_page[title]}</a>
                          </span></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table>
                  <table width="977" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" bgcolor="#F5F5F5" class="p12hong" style="border-bottom:1px #E6E6E6 solid;">　　下一篇：<span class="p12hong" style="border-bottom:1px #E6E6E6 solid;"><a href="{$next_page[url]}" class="p12hong">{$next_page[title]}</a></span></td>
                    </tr>
                  </table>