
<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="153" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" height="355">&nbsp;</td>
        <td width="1013" height="355" align="center" valign="top"><table width="1004" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            <td width="217" height="569" valign="top"><table width="217" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="216" align="center" valign="bottom" style="background:url({$P}images/nmgfl_r13_c10.jpg) repeat-x;"><table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                  <tr>
                    <td align="center" class="p14hong">儿童工作</td>
                  </tr>
                </table>
                  <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                    <tr>
                      <td align="center" class="p14hong">家庭教育</td>
                    </tr>
                  </table>
                  <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                    <tr>
                      <td align="center" class="p14hong">春蕾计划</td>
                    </tr>
                  </table>
                  <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                    <tr>
                      <td align="center" class="p14hong">儿童家园</td>
                    </tr>
                  </table>
                  <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                    <tr>
                      <td align="center" class="p14hong">消贫项目</td>
                    </tr>
                  </table>
                  <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                    <tr>
                      <td align="center" class="p14hong">妇儿天地</td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td height="20"><img src="{$P}images/nmgfl_r15_c3.jpg" width="217" height="48" /></td>
              </tr>
              </table>
              <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><img src="{$P}images/nmgfl_r17_c3.jpg" width="217" height="388" /></td>
                </tr>
              </table></td>
            <td align="right" valign="top"><table width="769" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="background:url({$P}images/rtgz_r4_c3.jpg) no-repeat;" height="27"><table width="769" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22">&nbsp;</td>
                    <td width="743" align="left" class="p12bai">儿童工作</td>
                    <td width="10" align="left" class="p12bai"><a href="{$CATEGORYS[108][url]}"><img src="{$P}images/mm.jpg" width="33" height="27" /></a></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><img src="{$P}images/rtgz_r5_c3.jpg" width="769" height="23" /></td>
              </tr>
              <tr>
                <td height="176" align="center" style="background:url({$P}images/rtgz_r7_c3.jpg) repeat-y;"><table width="750" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="212" height="160" align="center"><table width="191" border="0" cellspacing="2" cellpadding="0" style="border:1px #F3C solid;">
                      <tr>
                        <td height="164"><!-- <img src="{$P}images/rtgz_r7_c4.jpg" width="191" height="164" />-->

{pc:content  action="lists" catid="108" thumb="1" order="inputtime DESC" num="1"}
{loop $data $v}
<a href="{$v[url]}" alt="{$v[title]}">
<img src="{thumb($v[thumb] , 196 , 169)}" width="191" height="164" alt="{str_cut($v[title],40)}"/>
</a>
{/loop}
{/pc}
                        </td>
                      </tr>
                    </table></td>
                    <td width="538" valign="top">
{pc:content  action="lists" catid="108" thumb="0" order="inputtime DESC" num="6"}
{loop $data $v}
                      <table width="530" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="21" align="center"><img src="{$P}images/rtgz_r8_c6.jpg" width="10" height="10" /></td>
                        <td width="439" align="left" class="p12hei">
                          <a href="{$v[url]}" class="p12hei">{$v[title]}</a>
                        </td>
                        <td width="70" align="left" class="p12hei">{date('Y-m-d',$v[inputtime])}</td>
                      </tr>
                      <tr>
                        <td colspan="3" style="background:url({$P}images/rtgz_r10_c6.jpg) repeat-x;" height="1"></td>
                      </tr>
                    </table>
{/loop}
{/pc}                    
                     
                     </td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><img src="{$P}images/rtgz_r9_c3.jpg" width="769" height="26" /></td>
              </tr>
            </table>
              <table width="769" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><table width="385" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="112" style="background:url({$P}images/rtgz_r15_c3.jpg) no-repeat;"><table width="112" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21">&nbsp;</td>
                          <td width="91" align="left" class="p12bai">家庭教育</td>
                        </tr>
                      </table></td>
                      <td width="238" style="background:url({$P}images/rtgz_r15_c6.jpg) repeat-x;">&nbsp;</td>
                      <td width="35"><a href="{$CATEGORYS[20][url]}"><img src="{$P}images/rtgz_r15_c13.jpg" width="35" height="27" /></a></td>
                    </tr>
                  </table></td>
                  <td><table width="385" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="112" style="background:url({$P}images/rtgz_r15_c3.jpg) no-repeat;"><table width="112" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21">&nbsp;</td>
                          <td width="91" align="left" class="p12bai">春蕾计划</td>
                        </tr>
                      </table></td>
                      <td width="238" style="background:url({$P}images/rtgz_r15_c6.jpg) repeat-x;">&nbsp;</td>
                      <td width="35"><a href="{$CATEGORYS[21][url]}"><img src="{$P}images/rtgz_r15_c13.jpg" width="35" height="27" /></a></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td colspan="2"><img src="{$P}images/rtgz_r5_c3.jpg" width="769" height="23" /></td>
                </tr>
                <tr>
                  <td colspan="2" align="center" style="background:url({$P}images/rtgz_r7_c3.jpg) repeat-y;"><table width="750" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" valign="top">
{pc:content  action="lists" catid="20" thumb="0" order="inputtime DESC" num="6"}
{loop $data $v}
                        <table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21" align="center"><img src="{$P}images/rtgz_r8_c6.jpg" width="10" height="10" /></td>
                          <td width="509" align="left" class="p12hei">
                            <a href="{$v[url]}" class="p12hei">{str_cut($v[title],70)}</a>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" style="background:url({$P}images/rtgz_r10_c6.jpg) repeat-x;" height="1"></td>
                        </tr>
                      </table>
{/loop}
{/pc}                      
                        </td>
                      <td align="left" valign="top">
{pc:content  action="lists" catid="21" thumb="0" order="inputtime DESC" num="6"}
{loop $data $v}
                        <table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21" align="center"><img src="{$P}images/rtgz_r8_c6.jpg" width="10" height="10" /></td>
                          <td width="509" class="p12hei">
                            <a href="{$v[url]}" class="p12hei">{str_cut($v[title],70)}</a>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" style="background:url({$P}images/rtgz_r10_c6.jpg) repeat-x;" height="1"></td>
                        </tr>
                      </table>
{/loop}
{/pc}                      
                        </td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td colspan="2"><img src="{$P}images/rtgz_r9_c3.jpg" width="769" height="26" /></td>
                </tr>
              </table>
              <table width="769" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><table width="385" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="112" style="background:url({$P}images/rtgz_r15_c3.jpg) no-repeat;"><table width="112" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21">&nbsp;</td>
                          <td width="91" align="left" class="p12bai">儿童家园</td>
                        </tr>
                      </table></td>
                      <td width="238" style="background:url({$P}images/rtgz_r15_c6.jpg) repeat-x;">&nbsp;</td>
                      <td width="35"><a href="{$CATEGORYS[22][url]}"><img src="{$P}images/rtgz_r15_c13.jpg" width="35" height="27" /></a></td>
                    </tr>
                  </table></td>
                  <td><table width="385" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="112" style="background:url({$P}images/rtgz_r15_c3.jpg) no-repeat;"><table width="112" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21">&nbsp;</td>
                          <td width="91" align="left" class="p12bai">消贫项目</td>
                        </tr>
                      </table></td>
                      <td width="238" style="background:url({$P}images/rtgz_r15_c6.jpg) repeat-x;">&nbsp;</td>
                      <td width="35"><a href="{$CATEGORYS[23][url]}"><img src="{$P}images/rtgz_r15_c13.jpg" width="35" height="27" /></a></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td colspan="2"><img src="{$P}images/rtgz_r5_c3.jpg" width="769" height="23" /></td>
                </tr>
                <tr>
                  <td colspan="2" align="center" style="background:url({$P}images/rtgz_r7_c3.jpg) repeat-y;"><table width="750" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" valign="top">
{pc:content  action="lists" catid="22" thumb="0" order="inputtime DESC" num="6"}
{loop $data $v}                        
                        <table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21" align="center"><img src="{$P}images/rtgz_r8_c6.jpg" width="10" height="10" /></td>
                          <td width="509" align="left" class="p12hei">
                            <a href="{$v[url]}" class="p12hei">{str_cut($v[title],70)}</a>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" style="background:url({$P}images/rtgz_r10_c6.jpg) repeat-x;" height="1"></td>
                        </tr>
                      </table>
{/loop}
{/pc}                       
                       </td>
                      <td align="left" valign="top">
{pc:content  action="lists" catid="23" thumb="0" order="inputtime DESC" num="6"}
{loop $data $v} 
                        <table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21" align="center"><img src="{$P}images/rtgz_r8_c6.jpg" width="10" height="10" /></td>
                          <td width="509" class="p12hei">
                            <a href="{$v[url]}" class="p12hei">{str_cut($v[title],70)}</a>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" style="background:url({$P}images/rtgz_r10_c6.jpg) repeat-x;" height="1"></td>
                        </tr>
                      </table>
{/loop}
{/pc}                      
                       </td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td colspan="2"><img src="{$P}images/rtgz_r9_c3.jpg" width="769" height="26" /></td>
                </tr>
              </table>
              <table width="769" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td style="background:url({$P}images/rtgz_r4_c3.jpg) no-repeat;" height="27"><table width="769" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="22">&nbsp;</td>
                      <td width="743" align="left" class="p12bai">妇儿天地</td>
                      <td width="10" align="left" class="p12bai"><a href="{$CATEGORYS[24][url]}"><img src="{$P}images/mm.jpg" width="33" height="27" /></a></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><img src="{$P}images/rtgz_r5_c3.jpg" width="769" height="23" /></td>
                </tr>
                <tr>
                  <td height="176" align="center" style="background:url({$P}images/rtgz_r7_c3.jpg) repeat-y;"><table width="750" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="212" height="160" align="center"><table width="191" border="0" cellspacing="2" cellpadding="0" style="border:1px #F3C solid;">
                        <tr>
                          <td height="164">
{pc:content  action="lists" catid="23" thumb="1" order="inputtime DESC" num="1"}
{loop $data $v}
<a href="{$v[url]}" alt="{$v[title]}">
<img src="{thumb($v[thumb] , 196 , 169)}" width="191" height="164" alt="{str_cut($v[title],40)}"/>
</a>
{/loop}
{/pc}                     </td>
                        </tr>
                      </table></td>
                      <td width="538" valign="top">
{pc:content  action="lists" catid="23" thumb="0" order="inputtime DESC" num="6"}
{loop $data $v}                         
                        <table width="530" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21" align="center"><img src="{$P}images/rtgz_r8_c6.jpg" width="10" height="10" /></td>
                          <td width="438" align="left" class="p12hei"> <a href="{$v[url]}" class="p12hei">{str_cut($v[title],140)}</a></td>
                          <td width="71" align="left" class="p12hei">{date('Y-m-d',$v[inputtime])}</td>
                        </tr>
                        <tr>
                          <td colspan="3" style="background:url({$P}images/rtgz_r10_c6.jpg) repeat-x;" height="1"></td>
                        </tr>
                      </table>
{/loop}
{/pc}                      
                        </td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><img src="{$P}images/rtgz_r9_c3.jpg" width="769" height="26" /></td>
                </tr>
            </table>
              <table width="769" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><img src="{$P}images/rtgz25.jpg" width="765" height="62" /></td>
                </tr>
              </table></td>
            </tr>
        </table></td>
        <td width="36">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>


<!--
<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="153" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" height="355">&nbsp;</td>
        <td width="1013" height="355" align="center" valign="top"><table width="1004" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            

            <td width="217" height="569" valign="top"><table width="217" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="216" align="center" valign="bottom" style="background:url({$P}images/nmgfl_r13_c10.jpg) repeat-x;">
                  {loop subcat(10) $v}
                  <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                  <tr>
                    <td align="center" class="p14hong"><a href="{$v[url]}" class="p14hong">{$v[catname]}</a></td>
                  </tr>
                </table>
                {/loop}
                  </td>
              </tr>
              <tr>
                <td height="20"><img src="{$P}images/nmgfl_r15_c3.jpg" width="217" height="48" /></td>
              </tr>
              </table>
              <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><img src="{$P}images/nmgfl_r17_c3.jpg" width="217" height="388" /></td>
                </tr>
              </table></td>


            <td align="right" valign="top"><table width="769" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="background:url({$P}images/rtgz_r4_c3.jpg) no-repeat;" height="27"><table width="769" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="22">&nbsp;</td>
                    <td width="747" align="left" class="p12bai">儿童工作</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><img src="{$P}images/rtgz_r5_c3.jpg" width="769" height="23" /></td>
              </tr>
              <tr>
                <td height="176" align="center" style="background:url({$P}images/rtgz_r7_c3.jpg) repeat-y;"><table width="750" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="212" height="160" align="center"><table width="191" border="0" cellspacing="2" cellpadding="0" style="border:1px #F3C solid;">
                      <tr>
                        <td height="164"><img src="{$P}images/rtgz_r7_c4.jpg" width="191" height="164" /></td>
                      </tr>
                    </table></td>
                    <td width="538" valign="top">
{pc:content  action="lists" catid="10" thumb="0" order="inputtime DESC" num="7"}
{loop $data $v}
                      <table width="530" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="21" align="center"><img src="{$P}images/rtgz_r8_c6.jpg" width="10" height="10" /></td>
                        <td width="509" align="left" class="p12hei">&nbsp;<a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                      </tr>
                      <tr>
                        <td colspan="2" style="background:url({$P}images/rtgz_r10_c6.jpg) repeat-x;" height="1"></td>
                      </tr>
                    </table>
{/loop}
{/pc}                </td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><img src="{$P}images/rtgz_r9_c3.jpg" width="769" height="26" /></td>
              </tr>
            </table>
              <table width="769" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><table width="385" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="112" style="background:url({$P}images/rtgz_r15_c3.jpg) no-repeat;"><table width="112" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21">&nbsp;</td>
                          <td width="91" align="left" class="p12bai">家庭教育</td>
                        </tr>
                      </table></td>
                      <td width="238" style="background:url({$P}images/rtgz_r15_c6.jpg) repeat-x;">&nbsp;</td>
                      <td width="35"><a href="{$CATEGORYS[20][url]}"><img src="{$P}images/rtgz_r15_c13.jpg" width="35" height="27" /></a></td>
                    </tr>
                  </table></td>
                  <td><table width="385" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="112" style="background:url({$P}images/rtgz_r15_c3.jpg) no-repeat;"><table width="112" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21">&nbsp;</td>
                          <td width="91" align="left" class="p12bai">春蕾计划</td>
                        </tr>
                      </table></td>
                      <td width="238" style="background:url({$P}images/rtgz_r15_c6.jpg) repeat-x;">&nbsp;</td>
                      <td width="35"><a href="{$CATEGORYS[21][url]}"><img src="{$P}images/rtgz_r15_c13.jpg" width="35" height="27" /></a></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td colspan="2"><img src="{$P}images/rtgz_r5_c3.jpg" width="769" height="23" /></td>
                </tr>
                <tr>
                  <td colspan="2" align="center" style="background:url({$P}images/rtgz_r7_c3.jpg) repeat-y;"><table width="750" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" valign="top">
{pc:content  action="lists" catid="20" thumb="0" order="inputtime DESC" num="7"}
{loop $data $v}
                        <table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21" align="center"><img src="{$P}images/rtgz_r8_c6.jpg" width="10" height="10" /></td>
                          <td width="509" align="left" class="p12hei">&nbsp;<a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                        </tr>
                        <tr>
                          <td colspan="2" style="background:url({$P}images/rtgz_r10_c6.jpg) repeat-x;" height="1"></td>
                        </tr>
                      </table>
{/loop}
{/pc}
                       

                       </td>
                      <td align="left" valign="top">

{pc:content  action="lists" catid="21" thumb="0" order="inputtime DESC" num="7"}
{loop $data $v}
                        <table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21" align="center"><img src="{$P}images/rtgz_r8_c6.jpg" width="10" height="10" /></td>
                          <td width="509" align="left" class="p12hei">&nbsp;<a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                        </tr>
                        <tr>
                          <td colspan="2" style="background:url({$P}images/rtgz_r10_c6.jpg) repeat-x;" height="1"></td>
                        </tr>
                      </table>
{/loop}
{/pc}</td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td colspan="2"><img src="{$P}images/rtgz_r9_c3.jpg" width="769" height="26" /></td>
                </tr>
              </table>
              <table width="769" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><table width="385" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="112" style="background:url({$P}images/rtgz_r15_c3.jpg) no-repeat;"><table width="112" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21">&nbsp;</td>
                          <td width="91" align="left" class="p12bai">儿童家园</td>
                        </tr>
                      </table></td>
                      <td width="238" style="background:url({$P}images/rtgz_r15_c6.jpg) repeat-x;">&nbsp;</td>
                      <td width="35"><a href="{$CATEGORYS[23][url]}"><img src="{$P}images/rtgz_r15_c13.jpg" width="35" height="27" /></a></td>
                    </tr>
                  </table></td>
                  <td><table width="385" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="112" style="background:url({$P}images/rtgz_r15_c3.jpg) no-repeat;"><table width="112" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21">&nbsp;</td>
                          <td width="91" align="left" class="p12bai">消贫项目</td>
                        </tr>
                      </table></td>
                      <td width="238" style="background:url({$P}images/rtgz_r15_c6.jpg) repeat-x;">&nbsp;</td>
                      <td width="35"><a href="{$CATEGORYS[22][url]}"><img src="{$P}images/rtgz_r15_c13.jpg" width="35" height="27" /></a></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td colspan="2"><img src="{$P}images/rtgz_r5_c3.jpg" width="769" height="23" /></td>
                </tr>
                <tr>
                  <td colspan="2" align="center" style="background:url({$P}images/rtgz_r7_c3.jpg) repeat-y;">

                    <table width="750" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" valign="top">

{pc:content  action="lists" catid="23" thumb="0" order="inputtime DESC" num="7"}
{loop $data $v}
                        <table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21" align="center"><img src="{$P}images/rtgz_r8_c6.jpg" width="10" height="10" /></td>
                          <td width="509" align="left" class="p12hei">&nbsp;<a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                        </tr>
                        <tr>
                          <td colspan="2" style="background:url({$P}images/rtgz_r10_c6.jpg) repeat-x;" height="1"></td>
                        </tr>
                      </table>
{/loop}
{/pc}


 </td>
                      <td align="left" valign="top">
{pc:content  action="lists" catid="22" thumb="0" order="inputtime DESC" num="7"}
{loop $data $v}
                        <table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21" align="center"><img src="{$P}images/rtgz_r8_c6.jpg" width="10" height="10" /></td>
                          <td width="509" align="left" class="p12hei">&nbsp;<a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                        </tr>
                        <tr>
                          <td colspan="2" style="background:url({$P}images/rtgz_r10_c6.jpg) repeat-x;" height="1"></td>
                        </tr>
                      </table>
{/loop}
{/pc}
                      </td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td colspan="2"><img src="{$P}images/rtgz_r9_c3.jpg" width="769" height="26" /></td>
                </tr>
              </table>
              <table width="769" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td style="background:url({$P}images/rtgz_r4_c3.jpg) no-repeat;" height="27"><table width="769" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="22">&nbsp;</td>
                      <td width="747" align="left" class="p12bai">妇儿天地</td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><img src="{$P}images/rtgz_r5_c3.jpg" width="769" height="23" /></td>
                </tr>
                <tr>
                  <td height="176" align="center" style="background:url({$P}images/rtgz_r7_c3.jpg) repeat-y;"><table width="750" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="212" height="160" align="center"><table width="191" border="0" cellspacing="2" cellpadding="0" style="border:1px #F3C solid;">
                        <tr>
                          <td height="164"><img src="{$P}images/rtgz_r7_c4.jpg" width="191" height="164" /></td>
                        </tr>
                      </table></td>
                      <td width="538" valign="top">
{pc:content  action="lists" catid="24" thumb="0" order="inputtime DESC" num="7"}
{loop $data $v}
                        <table width="530" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="21" align="center"><img src="{$P}images/rtgz_r8_c6.jpg" width="10" height="10" /></td>
                          <td width="509" align="left" class="p12hei">&nbsp;<a href="{$v[url]}" class="p12hei2">{str_cut($v[title],44)}</a></td>
                        </tr>
                        <tr>
                          <td colspan="2" style="background:url({$P}images/rtgz_r10_c6.jpg) repeat-x;" height="1"></td>
                        </tr>
                      </table>

{/loop}
{/pc}                      
                      
                      </td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><img src="{$P}images/rtgz_r9_c3.jpg" width="769" height="26" /></td>
                </tr>
            </table></td>
            </tr>
        </table></td>
        <td width="36">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
-->