<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="153" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" height="355">&nbsp;</td>
        <td width="1013" height="355" align="center" valign="top"><table width="1004" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            <td width="217" height="569" valign="top"><table width="217" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="288" align="center" valign="top" style="background:url({$P}images/tthy_r2_c2.jpg) repeat-x;"><table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                  <tr>
                    <td align="center" class="p14hong">团体会员</td>
                  </tr>
                </table>
{pc:content  action="lists" catid="13" thumb="0" order="listorder ASC" num="100"}
{loop $data $v}
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="18" align="center">· </td>
                      <td width="182" align="left" class="p12hei">
                        
                        <a href="{$v[url]}" class="p12hei">{$v[title]}</a>
                      </td>
                    </tr>
                  </table>
{/loop}
{/pc}                 
                 </td>
              </tr>
              <tr>
                <td height="20"><img src="{$P}images/nmgfl_r15_c3.jpg" width="217" height="48" /></td>
              </tr>
              </table>
              <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><img src="{$P}images/nmgfl_r17_c3.jpg" width="217" height="388" /></td>
                </tr>
              </table></td>
            <td align="right" valign="top"><table width="767" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="28" align="left" class="p12bai" style="background:url({$P}images/tthy_r2_c4.jpg) no-repeat;">　　　　内蒙古企业家协会</td>
              </tr>
            </table>
              <table width="767" border="0" cellspacing="0" cellpadding="0" style="border:1px #FFCB66 solid;">
                <tr>
                  <td width="541" height="704" align="left" valign="top">
<p>
  　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #696969"><span style="font-family: trebuchet ms, helvetica, sans-serif"><span style="font-size: 14px">内蒙古妇女企业家协会成立于1996年7月，1996年3月经民政厅登记核准。</span></span></span></p>
<div>
  <span style="color: #696969"><span style="font-family: trebuchet ms, helvetica, sans-serif"><span style="font-size: 14px">　　该会宗旨：以邓小平理论和&ldquo;三个代表&rdquo;重要思想和科学发展观为指导，坚持面向女企业家，为女企业家服务，为经济发展服务。该会系内蒙古妇联团体会员，业务上接受中国女企业家协会的指导。</span></span></span></div>
<div>
  <span style="color: #696969"><span style="font-family: trebuchet ms, helvetica, sans-serif"><span style="font-size: 14px">　　主要活动：</span></span></span></div>
<div>
  <span style="color: #696969"><span style="font-family: trebuchet ms, helvetica, sans-serif"><span style="font-size: 14px">　　一、举办各种座谈会10余次，700多人参加，沟通女企业家与政府及社会各界的联系；</span></span></span></div>
<div>
  <span style="color: #696969"><span style="font-family: trebuchet ms, helvetica, sans-serif"><span style="font-size: 14px">　　二、多次组织考察、学习、交流活动，600多人次参加国内外学习考察，使女企业家开阔视野，加强与外界的交流与合作。2005年9月，会长焦静云作为中国女企业家代表团成员出席了第58届联合国新闻部非政府组织年会。2006年6月，焦静云随中国妇女代表团赴埃及参加了第16届世界妇女峰会。</span></span></span></div>
<div>
  <span style="color: #696969"><span style="font-family: trebuchet ms, helvetica, sans-serif"><span style="font-size: 14px">　　三、组织女企业家开展公益活动，向社会献爱心。协会成立以来女企业家共捐款60多万元，救助&ldquo;春蕾女童&rdquo;，帮助解决&ldquo;母亲水窖&rdquo;，抗击&ldquo;非典&rdquo;和援助印度洋海啸受灾地区。</span></span></span></div>
<p>
  <span style="color: #696969"><span style="font-family: trebuchet ms, helvetica, sans-serif"><span style="font-size: 14px">　　四、树立典型，弘扬&ldquo;四自&rdquo;精神，提升女企业家群体素质。2004年协会第二次代表大会表彰了41名优秀女企业家。7人荣获&ldquo;内蒙古杰出创业女性&rdquo;奖，31人获&ldquo;内蒙古优秀女企业家&rdquo;奖。协会副会长内蒙古仕奇集团副董事长、内蒙古饭店董事长、总经理赛娜荣获&ldquo;2005中国十大经济女性年度人物&rdquo;奖；协会会长，内蒙古华蒙金河实业集团有限公司副总裁焦静云、副会长，呼伦贝尔市电业局局长李燕、副会长内蒙古风力发电有限责任公司党委书记红焰、理事，呼伦贝尔市海拉尔区友谊有限责任公司董事长王学英4人荣获&ldquo;2005中国经济女性年度突出成就人物&rdquo;奖。协会常务理事，内蒙古电力信息通信中心党委书记杜钧荣获全国&ldquo;三八&rdquo;红旗手称号；副会长，鄂尔多斯市伊司米羊绒衫有限公司总经理任彦、副会长，内蒙古气象局副局长李红宇荣获&ldquo;2005中国女企业家协会杰出创业人物&rdquo;奖；副会长内蒙古铁道国际旅行社总经理内蒙古辉腾锡勒窝阔台汗宫旅游度假中心董事长乌伊娜荣获自治区&ldquo;巾帼建功&rdquo;标兵称号；副会长、呼市泰尔力图医疗保健用品有限公司经理董月仙荣获自治区&ldquo;三八&rdquo;红旗手称号。树立了自治区女企业家的良好形象，使女企业家事业受到社会更大关注与支持。</span></span></span></p>                    
                  </td>
                  <td width="10" style="background:url({$P}images/tthy_r6_c5.jpg) repeat-y center;">                    
                  </td>
                  <td width="218" align="left" valign="top"><table width="200" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                    <tr>
                      <td><img src="{$P}images/nmgfl_r14_c19.jpg" width="207" height="167" /></td>
                    </tr>
                  </table>
                    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                      <tr>
                        <td><img src="{$P}images/tthy_r5_c5.jpg" width="183" height="167" /></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
            </tr>
        </table></td>
        <td width="36">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
