
<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="600" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" height="600">&nbsp;</td>
        <td width="1013" height="600" align="center" valign="top"><table width="1004" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            <td width="217" height="569" valign="top"><table width="217" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="140" align="center" valign="top" style="background:url({$P}images/twxx_r3_c3.jpg) repeat-x;">


                {loop subcat(2) $v}
                <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                  <tr>
                    <td align="center" class="p14hong"><a href="{$v[url]}" class="p14hong">{$v[catname]}</a></td>
                  </tr>
                  <tr>
                    <td align="center" class="p14hong"><img src="{$P}images/twxx_r6_c3.jpg" width="196" height="3" /></td>
                  </tr>
                </table>
                {/loop}
                 

                 </td>
              </tr>
              <tr>
                <td height="20"><img src="{$P}images/twxx_r6_c2.jpg" width="214" height="47" /></td>
              </tr>
              </table>
              <table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td><img src="{$P}images/nmgfl_r17_c3.jpg" width="217" height="388" /></td>
                </tr>
              </table></td>
            <td align="right" valign="top"><table width="778" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="388" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="{$P}images/twxx_r4_c3.jpg" width="389" height="30" /></td>
                  </tr>
                  <tr>
                    <td height="220" align="center" valign="top"  style="background:url({$P}images/twxx_r6_cd3.jpg) repeat-y;"><table width="389" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="389" height="25" style="background:url({$P}images/twxx_r5_c3.jpg) no-repeat;"><table width="366" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="69">&nbsp;</td>
                            <td width="256" align="left" class="p12bai"><a class="p12bai" href="{$CATEGORYS[16][url]}">妇联要闻</a></td>
                            <td width="41" align="left" class="p12bai"><a href="{$CATEGORYS[16][url]}"><img src="{$P}images/index_r16_c13.jpg" width="41" height="12" /></a></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table>
                      <table width="366" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                      <tr>
                        <td width="195" align="center" valign="middle"><table width="195" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><!--<img src="{$P}images/twxx_r8_cd4.jpg" width="195" height="169" />-->
{pc:content  action="lists" catid="16" thumb="0" order="listorder DESC" num="1" thumb="1"}
{loop $data $v}
<a href="{$v[url]}" alt="{$v[title]}">
<img src="{thumb($v[thumb] , 196 , 169)}" width="195" height="169" alt="{str_cut($v[title],40)}"/>
</a>
{/loop}
{/pc}

                            </td>
                          </tr>
                        </table></td>
                        <td width="171" align="left" valign="top">

                          {pc:content  action="lists" catid="16" thumb="0" order="listorder DESC" num="6"}
                          {loop $data $v}
                          <table width="170" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" valign="middle" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/lgss_r6_c9.jpg" width="10" height="10" /></td>
                            <td width="152" align="left" class="p12hei2" style="border-bottom:1px #CCC dashed;">
                              <a href="{$v[url]}" class="p12hei2">{str_cut($v[title],36)}</a>
                            </td>
                          </tr>
                        </table>
                         {/loop}{/pc}
                          </td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td ><img src="{$P}images/twxx_r8_c3.jpg" width="389" height="31" /></td>
                  </tr>
                </table></td>
                <td><table width="388" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="{$P}images/twxx_r4_c4.jpg" width="389" height="30" /></td>
                  </tr>
                  <tr>
                    <td height="220" align="center" valign="top" style="background:url({$P}images/twxx_r6_c4.jpg) repeat-y;"><table width="389" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="389" height="25" style="background:url({$P}images/twxx_r5_c3.jpg) no-repeat;"><table width="366" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="69">&nbsp;</td>
                            <td width="256" align="left" class="p12bai"><a class="p12bai" href="{$CATEGORYS[17][url]}">工作视频</a></td>
                            <td width="41" align="left" class="p12bai"><a href="{$CATEGORYS[17][url]}"><img src="{$P}images/index_r16_c13.jpg" width="41" height="12" /></a></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table>
                      <table width="366" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                        <tr>
                          <td width="195" align="center" valign="middle"><table width="195" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td><img src="{$P}images/twxx_r8_cd4.jpg" width="195" height="169" /></td>
                            </tr>
                          </table></td>
                          <td width="171" align="left" valign="top">

                          {pc:content  action="lists" catid="17" thumb="0" order="listorder DESC" num="6"}
                          {loop $data $v}
                          <table width="170" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" valign="middle" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/lgss_r6_c9.jpg" width="10" height="10" /></td>
                            <td width="152" align="left" class="p12hei2" style="border-bottom:1px #CCC dashed;"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title],36)}</a></td>
                          </tr>
                        </table>
                         {/loop}{/pc}
                            
                            </td>
                        </tr>
                      </table></td>
                  </tr>
                  <tr>
                    <td><img src="{$P}images/twxx_r8_c4.jpg" width="389" height="31" /></td>
                  </tr>
                </table></td>
              </tr>
            </table>
              <table width="778" border="0" cellspacing="0" cellpadding="0" style="margin-top:15px;">
                <tr>
                  <td><table width="388" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><img src="{$P}images/twxx_r4_c3.jpg" width="389" height="30" /></td>
                    </tr>
                    <tr>
                      <td height="220" align="center" valign="top"  style="background:url({$P}images/twxx_r6_cd3.jpg) repeat-y;"><table width="389" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="389" height="25" style="background:url({$P}images/twxx_r5_c3.jpg) no-repeat;"><table width="366" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="69">&nbsp;</td>
                              <td width="256" align="left" class="p12bai"><a class="p12bai" href="{$CATEGORYS[18][url]}">盟市快讯</a></td>
                              <td width="41" align="left" class="p12bai"><a href="{$CATEGORYS[18][url]}"><img src="{$P}images/index_r16_c13.jpg" width="41" height="12" /></a></td>
                            </tr>
                          </table></td>
                        </tr>
                      </table>
                        <table width="366" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                          <tr>
                            <td width="195" align="center" valign="middle"><table width="195" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>
                                  
{pc:content  action="lists" catid="18" thumb="0" order="listorder DESC" num="1" thumb="1"}
{loop $data $v}
<a href="{$v[url]}" alt="{$v[title]}">
<img src="{thumb($v[thumb] , 196 , 169)}" width="195" height="169" alt="{str_cut($v[title],40)}"/>
</a>
{/loop}
{/pc}

                                </td>
                              </tr>
                            </table></td>
                            <td width="171" align="left" valign="top">


                          {pc:content  action="lists" catid="18" thumb="0" order="listorder DESC" num="6"}
                          {loop $data $v}
                          <table width="170" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" valign="middle" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/lgss_r6_c9.jpg" width="10" height="10" /></td>
                            <td width="152" align="left" class="p12hei2" style="border-bottom:1px #CCC dashed;"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title],36)}</a></td>
                          </tr>
                        </table>
                         {/loop}{/pc}
                            
                            </td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td ><img src="{$P}images/twxx_r8_c3.jpg" width="389" height="31" /></td>
                    </tr>
                  </table></td>
                  <td><table width="388" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><img src="{$P}images/twxx_r4_c4.jpg" width="389" height="30" /></td>
                    </tr>
                    <tr>
                      <td height="220" align="center" valign="top" style="background:url({$P}images/twxx_r6_c4.jpg) repeat-y;"><table width="389" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="389" height="25" style="background:url({$P}images/twxx_r5_c3.jpg) no-repeat;"><table width="366" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="69">&nbsp;</td>
                              <td width="256" align="left" class="p12bai"><a class="p12bai" href="{$CATEGORYS[19][url]}">旗县亮点</a></td>
                              <td width="41" align="left" class="p12bai"><a href="{$CATEGORYS[19][url]}"><img src="{$P}images/index_r16_c13.jpg" width="41" height="12" /></a></td>
                            </tr>
                          </table></td>
                        </tr>
                      </table>
                        <table width="366" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                          <tr>
                            <td width="195" align="center" valign="middle"><table width="195" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>
{pc:content  action="lists" catid="19" thumb="0" order="listorder DESC" num="1" thumb="1"}
{loop $data $v}
<a href="{$v[url]}" alt="{$v[title]}">
<img src="{thumb($v[thumb] , 196 , 169)}" width="195" height="169" alt="{str_cut($v[title],40)}"/>
</a>
{/loop}
{/pc}                                  

                                </td>
                              </tr>
                            </table></td>
                            <td width="171" align="left" valign="top">


                          {pc:content  action="lists" catid="19" thumb="0" order="listorder DESC" num="6"}
                          {loop $data $v}
                          <table width="170" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="18" align="center" valign="middle" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/lgss_r6_c9.jpg" width="10" height="10" /></td>
                            <td width="152" align="left" class="p12hei2" style="border-bottom:1px #CCC dashed;"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title],36)}</a></td>
                          </tr>
                        </table>
                         {/loop}{/pc}



                            </td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td><img src="{$P}images/twxx_r8_c4.jpg" width="389" height="31" /></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
        </table></td>
        <td width="36">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
