<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="153" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="45" height="987">&nbsp;</td>
        <td width="1010" height="987" align="center" valign="top"><table width="1004" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            <td height="569" align="center" valign="top"><table width="993" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="993" height="26" style="background:url({$P}images/wsjzxx1.jpg) no-repeat;">&nbsp;</td>
                </tr>
              <tr>
                <td height="913" align="center" valign="top" style="border:1px #f35e00  solid;" >
                  <table width="948" border="0" cellspacing="0" cellpadding="0" style="margin-top:30px;">
                  <tr>
                    <td height="44" align="center" bgcolor="#dddddd" class="p18hei" style="border-bottom:1px #CCC dashed;">
                      {$title}
                    </td>
                    </tr>
                  </table>
                  <table width="948" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="33" align="center" class="p12heih" style="border-bottom:1px #CCC solid;">
                                              发布时间：{$inputtime}　来源：{$copyfrom}　字号：<a href="#" id="b" class="p12hei2">大</a>　 <a href="#" id="m" class="p12hei2">中</a> 　<a href="#" id="s" class="p12hei2">小</a>　 <a href="#" id="close" class="p12hei2">[关闭]</a>　 <a href="#" id="print" class="p12hei2">[打印]</a>
                      </td>
                    </tr>
                  </table>
                  <table width="948" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="948" height="821" align="left" valign="top" class="p12hei2">{$content}</td>
                      </tr>
                      <tr>
                          <td>{template "content" , "np"}</td>
                      </tr>                    
                      <tr>
                          <td>&nbsp;</td>
                      </tr>                       
                  </table>
                  
                  </td>
              </tr>
              </table></td>
            </tr>
        </table></td>
        <td width="37">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>