
<?php
    $P = APP_PATH . "/phpcms/templates/default/content/";
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<style type="text/css">
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
</style>
<link href="{$P}css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}/jquery.min.js" charset="utf-8" ></script>
<script src="{$P}images/swfobject_modified.js" type="text/javascript"></script>
<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
</head>
<script type="text/javascript"> 
$(function(){
  new slide("#main-slide","cur",313,206,1);//焦点图
})
</script>
<body>
<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="153" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" height="355">&nbsp;</td>
        <td width="1013" height="355" align="center" valign="top"><table width="1012" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="16" height="43" style="background:url({$P}images/nmgfl_r1_c3.jpg) repeat-x;">&nbsp;</td>
            <td width="738" align="left" class="p12hei" style="background:url({$P}images/nmgfl_r1_c3.jpg) repeat-x;"><?php echo date('Y年m月d日');?></td>
            <td width="258" align="left" class="p12hei" style="background:url({$P}images/nmgfl_r1_c3.jpg) repeat-x;"><a href="#" style="color:black" id="contact">联系我们</a> | <a href="#" style="color:black" id="tfv">收藏本站</a> | <a href="#" style="color:black" id="tindex">设为首页</a> | <a href="#" style="color:black" id="tmn">蒙文网站</a></td>
          </tr>
        </table>
          <table width="1004" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="1004"><object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1003" height="216">
                <param name="movie" value="{$P}images/wsjz.swf" />
                <param name="quality" value="high" />
                <param name="wmode" value="opaque" />
                <param name="swfversion" value="6.0.65.0" />
                <!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。 -->
                <param name="expressinstall" value="Scripts/expressInstall.swf" />
                <!-- 下一个对象标签用于非 IE 浏览器。所以使用 IECC 将其从 IE 隐藏。 -->
                <!--[if !IE]>-->
                <object type="application/x-shockwave-flash" data="{$P}images/wsjz.swf" width="1003" height="216">
                  <!--<![endif]-->
                  <param name="quality" value="high" />
                  <param name="wmode" value="opaque" />
                  <param name="swfversion" value="6.0.65.0" />
                  <param name="expressinstall" value="Scripts/expressInstall.swf" />
                  <!-- 浏览器将以下替代内容显示给使用 Flash Player 6.0 和更低版本的用户。 -->
                  <div>
                    <h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
                    <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/{$P}images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" /></a></p>
                  </div>
                  <!--[if !IE]>-->
                </object>
                <!--<![endif]-->
              </object></td>
            </tr>
          </table>


          <table width="1004" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="{$P}images/nmgfl_r3_c3.jpg" width="11" height="56" /></td>
              <td width="985" style="background:url({$P}images/nmgfl_r13_c3.jpg) repeat-x;"><table width="985" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="54"><img src="{$P}images/wsjzxx_r4_c3.jpg" width="119" height="45" /></td>
                  <td width="931" align="center"><table width="767" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><table width="147" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left"><a href="{APP_PATH}"><img src="{$P}images/z1.jpg" width="124" height="18" /></a></td>
                          <td align="right"><img src="{$P}images/sx.jpg" width="2" height="23" /></td>
                        </tr>
                      </table></td>
                      <td><table width="113" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center"><a href="{$CATEGORYS[36][url]}"><img src="{$P}images/z3.jpg" width="62" height="18" /></a></td>
                          <td align="right"><img src="{$P}images/sx.jpg" width="2" height="23" /></td>
                        </tr>
                      </table></td>
                      <td><table width="107" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center"><a href="{$CATEGORYS[37][url]}"><img src="{$P}images/z2.jpg" width="61" height="18" /></a></td>
                          <td align="right"><img src="{$P}images/sx.jpg" width="2" height="23" /></td>
                        </tr>
                      </table></td>
                      <td><table width="107" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center"><a href="{$CATEGORYS[38][url]}"><img src="{$P}images/z4.jpg" width="64" height="18" /></a></td>
                          <td align="right"><img src="{$P}images/sx.jpg" width="2" height="23" /></td>
                        </tr>
                      </table></td>
                      <td><table width="106" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center"><a href="{$CATEGORYS[39][url]}"><img src="{$P}images/z5.jpg" width="67" height="18" /></a></td>
                          <td align="right"><img src="{$P}images/sx.jpg" width="2" height="23" /></td>
                        </tr>
                      </table></td>
                      <td><table width="107" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center"><a href="{$CATEGORYS[40][url]}"><img src="{$P}images/z6.jpg" width="66" height="18" /></a></td>
                          <td align="right"><img src="{$P}images/sx.jpg" width="2" height="23" /></td>
                        </tr>
                      </table></td>
                      <td><table width="84" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center"><a href="{$CATEGORYS[42][url]}"><img src="{$P}images/17.jpg" width="68" height="23" /></a></td>
                          </tr>
                      </table></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
              <td width="8" align="right"><img src="{$P}images/nmgfl_r3_c10.jpg" width="8" height="56" /></td>
            </tr>
          </table>

          <table width="1004" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="33" align="right" class="p12hei" style="background:url({$P}images/nmgfl_r4_c7.jpg) repeat-x;">首页 &lt; 网上家长学校</td>
            </tr>
          </table></td>
        <td width="36">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="153" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" height="684">&nbsp;</td>
        <td width="1013" height="684" align="center" valign="top"><table width="980" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            <td width="253" height="569" valign="top"><table width="216" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="216" height="824" align="center" valign="top" style="background:url({$P}images/wsjzxx_r8_c6.jpg) repeat-x;"><table width="217" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                  <tr>
                    <td align="center" class="p14hong">组织机构</td>
                  </tr>
                </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">家长学校指导小组成员名单</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">组 长</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">陈 羽</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">内蒙古妇联主席</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">副组长</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">云翠荣<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">内蒙古妇联副主席</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">敖特根其木格</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">内蒙古妇联副巡视员<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                    <tr>
                      <td align="left" class="p12heih">成  员</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">李凤兰<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">内蒙古妇联儿童部调研员<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">李素珍</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">内蒙古儿童基金会秘书长</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">毛国平</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">内蒙古妇女儿童中心主任<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">邬小平<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">内蒙古妇女儿童研究会副会长<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">毕军梅</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">内蒙古妇女儿童研究会副秘书长<br /></td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">邢丽娅</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">内蒙古师范大学教科院教授</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">内蒙古妇女儿童研究会常务理事
                     </td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">张锦贻</td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left" class="p12heih">内蒙古妇女儿童研究会常务理事
                    </td>
                    </tr>
                  </table>
                  <table width="200" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="27">&nbsp;</td>
                    </tr>
                    <tr>
                      <td align="left" class="p12hei2">联系方式：</td>
                    </tr>
                    <tr>
                      <td align="left" class="p12hei2">0471-6930856</td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td height="20"><img src="{$P}images/wsjzxx_r10_c2.jpg" width="213" height="48" /></td>
              </tr>
              </table></td>
            <td width="751" align="right" valign="top"><table width="752" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="325" align="center" valign="middle">

                  <!--
                  <img src="{$P}images/wsjzxx_r8_cw8.jpg" width="313" height="206" />
                   -->


        <div class="slide">
            <div class="FocusPic">
            {pc:content  action="lists" catid="12"  order="listorder DESC" thumb="1" num="5"}
              <div class="content" id="main-slide">
                    <div class="changeDiv">  
                    {loop $data $r}
                        <a href="{$r['url']}" title="{str_cut($r['title'],30)}"><img src="{thumb($r['thumb'],313,206)}" alt="{$r['title']}" width="313" height="206" /></a>
                    {/loop}
                    </div>
                </div>
            {/pc}
            </div>
        </div>
                </td>
                <td width="427" valign="top"><table width="427" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td style="background:url({$P}images/wsjzxx_r8_c10.jpg) no-repeat;" height="30"><table width="427" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="27">&nbsp;</td>
                        <td width="354" align="left" class="p12bai">工作动态</td>
                        <td width="46" align="left" class="p12xibai"><span class="p12hei">
                          <a href="{$CATEGORYS[36][url]}">
                          <img src="{$P}images/index_r16_c13.jpg" width="41" height="12" />
                        </a>
                        </span></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="175" align="center" valign="middle"><table width="417" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="162" align="left" valign="top">
{pc:content  action="lists" catid="36" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                          <table width="417" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="25" align="center" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/wsjzxx_r11_c11.jpg" width="9" height="9" /></td>
                            <td width="323" align="left" class="p12hei2"  style="border-bottom:1px #CCC dashed;">
                              <a href="{$v[url]}" class="p12hei2">{str_cut($v[title] , 80)}</a>
                            </td>
                            <td width="69" align="left" class="p12hei2"  style="border-bottom:1px #CCC dashed;">
                              {date('Y-m-d' , $v[inputtime])}
                            </td>
                          </tr>
                          </table>
{/loop}
{/pc}                        
                        </td>
                        </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
            </table>
              <table width="745" height="215" border="0" cellpadding="0" cellspacing="0" style="margin-top:10px;">
                <tr>
                  <td height="215" align="left" valign="top"><table width="372" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="29" style="background:url({$P}images/wsjzxx.jpg) no-repeat;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="27">&nbsp;</td>
                          <td width="354" align="left" class="p12bai">成长足迹</td>
                          <td width="46" align="left" class="p12xibai"><span class="p12hei"><a href="{$CATEGORYS[37][url]}"><img src="{$P}images/index_r16_c13.jpg" width="41" height="12" /></a></span></td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td>
{pc:content  action="lists" catid="37" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}
                        <table width="372" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/wsjzxx_r11_c11.jpg" width="9" height="9" /></td>
                          <td width="349" align="left" class="p12hei2"  style="border-bottom:1px #CCC dashed;">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title] , 80)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}                      
                        
                        </td>
                    </tr>
                  </table>
                    <table width="372" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                      <tr>
                        <td height="7"><img src="{$P}images/wsjzxx_r16_c9.jpg" width="372" height="7" /></td>
                      </tr>
                    </table></td>
                  <td align="right" valign="top"><table width="372" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="29" style="background:url({$P}images/wsjzxx.jpg) no-repeat;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="27">&nbsp;</td>
                          <td width="354" align="left" class="p12bai">家教指南</td>
                          <td width="46" align="left" class="p12xibai"><span class="p12hei"><a href="{$CATEGORYS[38][url]}"><img src="{$P}images/index_r16_c13.jpg" width="41" height="12" /></a></span></td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td>
{pc:content  action="lists" catid="38" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}                        
                        <table width="372" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/wsjzxx_r11_c11.jpg" width="9" height="9" /></td>
                          <td width="349" align="left" class="p12hei2"  style="border-bottom:1px #CCC dashed;">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title] , 80)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}
                        </td>
                    </tr>
                  </table>
                    <table width="372" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                      <tr>
                        <td height="7"><img src="{$P}images/wsjzxx_r16_c9.jpg" width="372" height="7" /></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <table width="745" height="215" border="0" cellpadding="0" cellspacing="0" style="margin-top:10px;">
                <tr>
                  <td height="215" align="left" valign="top"><table width="372" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="29" style="background:url({$P}images/wsjzxx.jpg) no-repeat;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="27">&nbsp;</td>
                          <td width="354" align="left" class="p12bai">热点话题</td>
                          <td width="46" align="left" class="p12xibai"><span class="p12hei"><a href="{$CATEGORYS[39][url]}"><img src="{$P}images/index_r16_c13.jpg" width="41" height="12" /></a></span></td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td>
{pc:content  action="lists" catid="39" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}                         
                        <table width="372" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/wsjzxx_r11_c11.jpg" width="9" height="9" /></td>
                          <td width="349" align="left" class="p12hei2"  style="border-bottom:1px #CCC dashed;"><a href="{$v[url]}" class="p12hei2">{str_cut($v[title] , 80)}</a></td>
                        </tr>
                      </table>
{/loop}
{/pc}                      
                        </td>
                    </tr>
                  </table>
                    <table width="372" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                      <tr>
                        <td height="7"><img src="{$P}images/wsjzxx_r16_c9.jpg" width="372" height="7" /></td>
                      </tr>
                    </table></td>
                  <td align="right" valign="top"><table width="372" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="29" style="background:url({$P}images/wsjzxx.jpg) no-repeat;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="27">&nbsp;</td>
                          <td width="354" align="left" class="p12bai">卫生保健</td>
                          <td width="46" align="left" class="p12xibai"><span class="p12hei"><a href="{$CATEGORYS[40][url]}"><img src="{$P}images/index_r16_c13.jpg" width="41" height="12" /></a></span></td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td>
{pc:content  action="lists" catid="40" thumb="0" order="listorder DESC" num="6"}
{loop $data $v}                           
                        <table width="372" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/wsjzxx_r11_c11.jpg" width="9" height="9" /></td>
                          <td width="349" align="left" class="p12hei2"  style="border-bottom:1px #CCC dashed;">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title] , 80)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}                      
                        </td>
                    </tr>
                  </table>
                    <table width="372" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                      <tr>
                        <td height="7"><a href="{$CATEGORYS[40][url]}"><img src="{$P}images/wsjzxx_r16_c9.jpg" width="372" height="7" /></a></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <table width="745" height="215" border="0" cellpadding="0" cellspacing="0" style="margin-top:10px;">
                <tr>
                  <td height="215" align="left" valign="top"><table width="372" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="29" style="background:url({$P}images/wsjzxx.jpg) no-repeat;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="27">&nbsp;</td>
                          <td width="354" align="left" class="p12bai">专家讲坛</td>
                          <td width="46" align="left" class="p12xibai"><span class="p12hei">
                            <a href="{$CATEGORYS[41][url]}"><img src="{$P}images/index_r16_c13.jpg" width="41" height="12" /></a></span></td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td>
{pc:content  action="lists" catid="41" thumb="0" order="listorder DESC" num="6"}
{loop $data $v} 
                        <table width="372" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="25" align="center" style="border-bottom:1px #CCC dashed;"><img src="{$P}images/wsjzxx_r11_c11.jpg" width="9" height="9" /></td>
                          <td width="349" align="left" class="p12hei2"  style="border-bottom:1px #CCC dashed;">
                            <a href="{$v[url]}" class="p12hei2">{str_cut($v[title] , 80)}</a>
                          </td>
                        </tr>
                      </table>
{/loop}
{/pc}                    
                        
                        </td>
                    </tr>
                  </table>
                    <table width="372" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                      <tr>
                        <td height="7"><img src="{$P}images/wsjzxx_r16_c9.jpg" width="372" height="7" /></td>
                      </tr>
                    </table></td>
                  <td align="right" valign="top"><table width="372" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="29" style="background:url({$P}images/wsjzxx.jpg) no-repeat;"><table width="370" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="27">&nbsp;</td>
                          <td width="354" align="left" class="p12bai">图片库</td>
                          <td width="46" align="left" class="p12xibai"><span class="p12hei"><a href="{$CATEGORYS[42][url]}"><img src="{$P}images/index_r16_c13.jpg" width="41" height="12" /></a></span></td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td height="174"><table width="372" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                        <tr>
{pc:content  action="lists" catid="42" thumb="1" order="listorder DESC" num="2"}
{loop $data $v}                          
                         <td height="156" align="center" valign="middle">
                            <img src="{thumb($v['thumb'],179,149)}" width="179" height="149" />
                          </td>
{/loop}                        
{/pc}                       
</tr>
                      </table></td>
                    </tr>
                  </table>
                    <table width="372" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px;">
                      <tr>
                        <td height="7"><img src="{$P}images/wsjzxx_r16_c9.jpg" width="372" height="7" /></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
            </tr>
        </table></td>
        <td width="36">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>

<script type="text/javascript">
swfobject.registerObject("FlashID");
</script>

{template "content", "footer"}