<<style type="text/css">
  .zt1{ font-size:20px; font-family:"微软雅黑"; color:#F60; line-height:60px; font-weight:bold;}
.zt2{ font-size:20px; font-family:"微软雅黑"; color:#fc0000; line-height:60px; font-weight:bold;}
.zt3{ font-size:20px; font-family:"微软雅黑"; color:#006bfc; line-height:60px; font-weight:bold;}
.zt4{ font-size:20px; font-family:"微软雅黑"; color:#a000fc; line-height:60px; font-weight:bold;}
</style>
<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="153" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" height="406">&nbsp;</td>
        <td width="1013" height="406" align="center" valign="top"><table width="1004" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            <td width="217" height="406" valign="top"><table width="217" border="0" cellspacing="0" cellpadding="0">
              <tr>
                  <td><img src="{$P}images/nmgfl_r17_c3.jpg" width="217" height="388" /></td>
                </tr>
            </table></td>
            <td align="right" valign="top"><table width="391" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="{$P}images/zt_r2_c2.jpg" width="770" height="19" /></td>
              </tr>
            </table> 

			  <table width="770" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center" class="zt3" style="border-bottom:1px #999 dashed;">
				  <a href="{$CATEGORYS[128][url]}" class="zt3">寻找”最美家庭”——内蒙古各级妇联在广大家庭中培育和践行社会主义核心价值观
				  </a></td>
                </tr>
              </table>                      
              <table width="770" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center" class="zt1" style="border-bottom:1px #999 dashed;">
				  <a href="{$CATEGORYS[123][url]}" class="zt1">深入学习贯彻习近平总书记系列讲话精神</a>
				  </td>
                </tr>
              </table>
              <table width="770" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td align="center" class="zt3" style="border-bottom:1px #999 dashed;">
				  <a href="{$CATEGORYS[110][url]}" class="zt3">“我与中国梦”--贯彻“8337”发展思路内蒙古妇女在行动</a>
				  </td>
                </tr>
              </table>
              <table width="770" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td align="center" class="zt4" style="border-bottom:1px #999 dashed;">
				  <a href="{$CATEGORYS[91][url]}" class="zt1">坚持男女平等基本国策 保障妇女儿童合法权益</a>
				  </td>
                </tr>
              </table>
			
			
              <table width="770" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center" class="zt3" style="border-bottom:1px #999 dashed;">
				  <a href="{$CATEGORYS[118][url]}" class="zt3">中国妇女第十一次代表大会专题
				  </a></td>
                </tr>
              </table>                      
              <table width="770" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center" class="zt1" style="border-bottom:1px #999 dashed;">
				  <a href="{$CATEGORYS[104][url]}" class="zt1">全面贯彻落实党的十八大及十八届三中全会精神</a>
				  </td>
                </tr>
              </table>
              <table width="770" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td align="center" class="zt3" style="border-bottom:1px #999 dashed;">
				  <a href="{$CATEGORYS[105][url]}" class="zt3">下基层  　访妇情　 办实事</a>
				  </td>
                </tr>
              </table>
              <table width="770" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                <tr>
                  <td align="center" class="zt4" style="border-bottom:1px #999 dashed;">
				  <a href="{$CATEGORYS[106][url]}" class="zt1">参与社会管理创新</a>
				  </td>
                </tr>
              </table>
            </td>
            </tr>
        </table></td>
        <td width="36">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
