<table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="600" valign="top" style="background:url({$P}images/nmgfl_r2_c2.jpg) repeat-y;"><table width="1092" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" height="600">&nbsp;</td>
        <td width="1013" height="600" align="center" valign="top"><table width="1002" border="0" cellspacing="0" cellpadding="0" style=" padding-top:10px;">
          <tr>
            <td height="614" align="right" valign="top"><table width="1002" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="1004"><table width="1002" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="210" height="31" align="center" class="p12bai" style="background:url({$P}images/zw_r2_c4.jpg) no-repeat;">&nbsp;</td>
                    <td width="792" align="right" style="background:url({$P}images/zw_r2_c5.jpg) repeat-x;"><table width="50" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="49"><img src="{$P}images/index_r16_c13.jpg" width="41" height="12" /></td>
                        <td width="10">&nbsp;</td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                </tr>
              <tr>
                <td height="522" align="center" valign="top" style="border-right:1px #D0EAF7 solid; border-left:1px #D0EAF7 solid;"><table width="948" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                  <tr>
                    <td height="44" align="center" bgcolor="#dddddd" class="p18hei" style="border-bottom:1px #CCC dashed;">{$title}</td>
                  </tr>
                </table>
                  <table width="948" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="33" align="center" class="p12heih" style="border-bottom:1px #CCC solid;">
                        发布时间：{$inputtime}　来源：{$copyfrom}　字号：<a href="#" id="b" class="p12hei2">大</a>　 <a href="#" id="m" class="p12hei2">中</a> 　<a href="#" id="s" class="p12hei2">小</a>　 <a href="#" id="close" class="p12hei2">[关闭]</a>　 <a href="#" id="print" class="p12hei2">[打印]</a>
                      </td>
                    </tr>
                  </table>
                  <table width="948" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="948" height="821" align="left" valign="top" class="p12hei2">{$content}</td>
                    </tr>
                    <tr>
                        <td>{template "content" ,"np"}</td>
                    </tr>
                  </table></td>
                </tr>
              <tr>
                <td><img src="{$P}images/zw_r4_c41.jpg" width="1002" height="53" /></td>
                </tr>
              </table></td>
            </tr>
        </table></td>
        <td width="36">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>

